@import '../../../common/styles/variables';

.container {
  margin: 0 auto;
  max-width: 585px;
}

.createAccount {
  min-width: 550px;
  min-height: 64px;
  color: $mainColor;
  background-color: #28d2d0;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
