@import "src/common/styles/breakpoints";
@import "src/common/styles/variables";
@import "src/common/styles/templates";

.container {
  border: 1px solid $mainColor;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  max-width: 550px;
  font-family: $gotham;
  position: relative;

  @media screen and (max-width: $sm) {
    max-width: 260px;
    min-height: 111px;
  }
}

.roleContainer {
  margin-left: 10px;
  text-align: start;
  color: $mainColor;
  font-weight: 500;
}

.heading {
  font-size: 20px;
  margin-bottom: 3px;
}

.description {
  font-size: 12px;
}

.error {
  @extend %error;
  top: 75px;
  left: -1px;

  @media screen and (max-width: $sm) {
    top: 120px;
  }
}
