@import 'src/common/styles/breakpoints';

.header {
  text-align: start;
  padding: 50px 45px;
  margin-bottom: 60px;
  @media screen and (max-width: $sm) {
    padding: 50px 20px;
  }
}

.focus:focus {
  outline: none;
}
