@import "src/common/styles/breakpoints";
@import "src/common/styles/variables";

.header {
  padding: 50px 45px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $sm) {
    padding: 50px 20px;
  }
}

.logoContainer:focus,
.signBtn:focus {
  outline: none;
}

.signBtn {
  text-decoration: none;
  color: $mainColor;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.77);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: $gotham;
  height: max-content;
  display: block;
}
