@import '../../../common/styles/variables';

.container {
  border: 1px solid $mainColor;
  padding: 14px 20px;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 550px;
  font-family: $gotham;
}

.join {
  display: inline;
  margin-left: 13px;
  font-size: 20px;
  font-weight: 400;
  color: $mainColor;
}

.info {
  padding-top: 5px;
  margin-left: 25px;
  color: $mainColor;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.container,
.join,
.info {
  text-align: start;
}
