.container {
  text-align: start;
  border: 1px solid white;
  padding: 14px 20px;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 550px;
  font-family: 'Gotham', sans-serif;
}

.join {
  display: inline;
  text-align: start;
  margin-left: 13px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.info {
  padding-top: 5px;
  text-align: start;
  margin-left: 25px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
}
