@import 'src/common/styles/variables';
@import 'src/common/styles/breakpoints';
@import 'src/common/styles/templates';

.input {
  border: 2px solid transparent;
  background-color: $mainColor;
  text-align: start;
  padding: 21px 23px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  font-family: sans-serif;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
}

.validInput {
  border-color: green;
}

.errorInput {
  border-color: red;
}

.error {
  @extend %error;
}

.error::before {
  @extend %error::before;
}

.errorLogin {
  min-width: 300px;
  top: 78px;
  right: -22px;
  @media screen and (max-width: $md) {
    min-width: 200px;
    top: 75px;
    right: -25px;
  }
  @media screen and (max-width: $sm) {
    top: 75px;
    right: -65px;
  }
}

.errorSignUp {
  max-width: 261px;
  top: 50px;
  left: 14px;
}
