@import "src/common/styles/breakpoints";
@import "src/common/styles/variables";
@import "src/common/styles/templates";

.labelInput {
  position: relative;
}

.input {
  border: 2px solid transparent;
  background-color: $mainColor;
  text-align: start;
  padding: 21px 23px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
}

.validInput {
  border-color: #008000;
}

.invalidInput {
  border-color: #ff0000;
}

.error {
  @extend %error;
}

.errorSignIn {
  top: 78px;
  left: -278px;

  @media screen and (max-width: $md) {
    max-width: 350px;
    top: 75px;
    left: -175px;
  }

  @media screen and (max-width: $sm) {
    max-width: 282px;
    top: 75px;
    left: -141px;
  }
}

.errorSignUp {
  top: 50px;
  left: 13px;
}
