@import "src/common/styles/breakpoints";
@import "src/common/styles/variables";

.signInInput {
  display: flex;
  min-width: 555px;

  @media screen and (max-width: $md) {
    min-width: 350px;
  }

  @media screen and (max-width: $sm) {
    min-width: 200px;
  }
}

.signInBtn {
  min-width: 557px;
  min-height: 64px;
  color: $mainColor;
  background-color: #28d2d0;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  display: inherit;
  margin: 0 auto;

  @media screen and (max-width: $md) {
    min-width: 350px;
  }

  @media screen and (max-width: $sm) {
    min-width: 282px;
  }
}
