@import '../../common/styles/templates';
@import '../../common/styles/variables';

.container {
  @extend %container;
  padding-bottom: 150px;
}
.heading {
  @extend %heading;
  margin-bottom: 15px;
  font-size: 40px;
}

.content {
  font-family: $gotham;
  color: $mainColor;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  max-width: 450px;
  margin: 0 auto;
}
