@import "src/common/styles/breakpoints";
@import "src/common/styles/templates";
@import "src/common/styles/variables";

.container {
  @extend %container;

  @media screen and (max-width: $sm) {
    margin-bottom: 150px;
  }
}

.heading {
  @extend %heading;
  margin-bottom: 15px;
  font-size: 35px;

  @media screen and (max-width: $md) {
    margin: 0 20px 15px;
    font-size: 25px;
  }
}

.content {
  font-family: $gotham;
  color: $mainColor;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.5px;
  max-width: 450px;
  margin: 0 auto 30px;

  @media screen and (max-width: $md) {
    font-size: 15px;
  }
}
